/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eeeff3;

}

/* Dashboard Container */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Main Content Area */
.main {
  margin-top: 10px;
  width: 100%;
}

.main .top {
  background-color: #9ab2df;
  padding: 10px;
  width: 97.5%;
}

.main .top h1 {
  color: #fff;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  width: 15rem;
  padding: 10px;
  height: 5rem;
  background-color: #9ab2df;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

/* Middle Section */
.middle {
  margin-top: 20px;
  display: flex;
}

.middle .card {
  margin-left: 10rem;
  margin-top: 5rem;
}

/* Bottom Section */
.bottom {
  margin-top: 20px;
  display: flex;
}

.bottom .card {
  margin-left: 10rem;
  margin-top: 5rem;
}

/* Anchor Tags */
a {
  text-decoration: none;
  color: inherit;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .middle, .bottom {
    flex-direction: column;
  }

  .middle .card, .bottom .card {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #ffffff; 
}

table th {
  background-color: #000; 
}
table td{
  background-color: rgba(0, 0, 0, 0.521);
}
